* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, 
h2 {
    text-align: center;    
    padding: 15px;
}
.App {
    display: flex;
    flex-direction: column;
    
}
.card {
    width: 18rem;
    margin: 10px 15px 10px;
}
.movie-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-card-title {
    text-align: center;
}
.search-form{
    text-align: center;
}
.search-form input {
    width: 350px;
    text-align: center;
    border-radius: 5px;
}
.search-form input:hover {
    border: 2px solid blue;
}